div {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border: 2px solid black;
    text-align: center;
}

#cim1 {
    font-size: 60px;
    font-weight: bold;
}

#cim2 {
    font-size: 40px;
    font-weight: bold;
}